<script type="text/javascript" src="/static/editor/js/module.min.js"></script>
<script type="text/javascript" src="/static/editor/js/hotkeys.min.js"></script>
<script type="text/javascript" src="/static/editor/js/uploader.min.js"></script>
<script type="text/javascript" src="/static/editor/js/simditor.min.js"></script>


<script>
    $(document).ready(function() {
        var editor = new Simditor({
            textarea: $('#editor'),
            upload: {
                url: '{{ urlfor "TopicController.UploadImage" }}',
                params: {
                    _token: ''
                },
                fileKey: 'upload_file',
                connectionCount: 3,
                leaveConfirm: '文件上传中，关闭此页面将取消上传。'
            },
            pasteImage: true,
        });
    });
</script>
@stop